doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://apps.bdimg.com/libs/jquery/1.8.2/jquery.min.js")
  body
    block content
script(src="/res/common.js.bundle.js")
script(src="/res/index.bundle.js")
